:root {
  --primary: #ddd;
  --dark: #333;
  --light: #f9f9f9;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --green: #75b42c;
}

.wrapper {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: #fff;
  color: #444;
  grid-gap: 1em;
  /* grid-auto-rows: 100px; */
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(10px, 200px));
  background-color: var(--light);
  padding: 30px;
}

.box {
  background: var(--primary);
  color: var(--dark);
  box-shadow: var(--shadow);
  border-radius: 5px;
}

.info {
  color: #989898;
  text-align: center;
}

.title {
  color: var(--dark);
  align-content: center;
}
