/* background */

.projects--background {
  background-color: #1B1B1B;
}

.project--wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 20px;
}

.projects--box {
  padding: 100px;
}

.projects {
  margin-top: 100px;
  background-color: #151515;
}

.second--project {
  margin-top: 50px;
}

.lighthouse_video {
height: 100px;
margin-bottom: 25px;
width: 300px;
}

/* titles */

/* h2, h3 {
  font-family: "Nunito", sans-serif;
margin: 0;
align-self: center;
color: #F2F2F2;
text-align: left;
width: 100%;
margin-bottom: 30px;
} */

.third--project {
  margin-top: 50px;
}

/* Images */
  


  .img__md {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
  }

.image_button_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 30px;
  margin-right: 30px;
  width: 40%;
}
  
/* Content container */
  
.content--container {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-left: 30px;
}
  
  .heading {
    font-family: "Nunito", serif;
    font-size: 3em;
  }

  .heading::after {
    content: "";
    display: block;
    border-bottom: 3px #5DE189 solid;
    width: 70px;
    margin: 30px 0;
  }

  .content__paragraph {
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    color: #cbcbcb;
  }

  .content__tools > li {
    margin-top: 5px;
  }
  
  /* Content buttons */
  
  .content__buttons {
    margin: 11px 0;
  }

  .content__buttons > a {
    cursor: pointer;
    padding: 10px 15px;
    background: 0 0;
    border: 2px solid #5DE189;
    border-radius: 3px;
    color: #5DE189;
    font-family: "Raleway",monospace;
    letter-spacing: 0.5px;
    font-weight: 900;
    text-transform: uppercase;
    transition: all .3s ease;
    text-decoration: none;
}

.content__buttons > a:hover {
  background-color: #5DE189;
  color: black;
}

/* Tools */  

 .content__tools {
   margin: 0;
 }

 .content__tools > li {   
    font-family: "Raleway",monospace;
    display: inline-block;
    padding: 7px 7px 5px;
    margin-right: 5px;
    color: #777;
    background: #333;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .5px;
 }

@media (max-width: 1150px) {
  .image_button_wrapper {
    width: 60%;
    margin-bottom: -32px;
  }
  .content--container {
    width: 100%;
    order: 1;
  }
} 

@media (max-width: 700px) {
  .image_button_wrapper {
    width: 100%;
  }
  .projects--box {
    padding: 0;
    padding-bottom: 100px;
  }
  .content--container {
    margin: 0;
  }
  .heading::after {
    margin: 30px auto
  }
  .heading {
    text-align: center;
    padding-top: 100px
  }
}

@media (max-width: 415px) {
  .image_button_wrapper { 
    margin-bottom: 30px;
    align-items: flex-start;
    margin: 0 0 30px 0;
  }
  .project--wrapper {
    justify-content: unset;
  }
  .lighthouse_video {
    width: 100%;
  }
}