.aboutMe {
  margin: 0 auto;
  max-width: 800px;
  padding: 1.0875rem 1.45rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img {
  min-width: 300px;
  max-width: 400px;
  object-fit: contain;
}

.paragraph {
  text-align: center;
  flex: 1;
}
