.parallax {
  background-attachment: fixed;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 750px;
  position: relative;
  padding: 50px 0;
}

.title {
  color: white;
  position: relative;
  z-index: 10;
  text-align: center;
  margin: 20px 0;
  font-family: "Nunito";
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.button {
  text-decoration: none;
  padding: 10px 15px;
  background: 0 0;
  border: 2px solid #5DE189;
  border-radius: 3px;
  margin: 20px 0;
  color: #5DE189;
  font-family: "Raleway",monospace;
  letter-spacing: 0.5px;
  font-weight: 900;
  text-transform: uppercase;
  transition: all .3s ease;
}

.button:hover {
  background-color: #5DE189;
  color: black;
}

.wrapperButton {
  display: flex;
  justify-content: center;
}
