.aboutMe {
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
}

.imgCropper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.picture {
  margin: 0 auto;
  height: 100%;
  object-fit: cover;
}

.paragraph {
  text-align: center;
  flex: 1;
  margin-top: 1em;
}
.TLDR {
  background: #f0f0f0;
  color: #555;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  height: 200px;
  width: 70%;
  max-width: 650px;
}

.boxSvg {
  display: flex;
  justify-content: space-around;
}

.svg {
  height: 70px;
  margin-top: 20px;
}
