.aboutMe {
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
  margin-bottom: 100px;
  background-color: #ffffff;
}

.imgCropper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.picture {
  margin: 0 auto;
  height: 100%;
  object-fit: cover;
}

.paragraph {
  text-align: center;
  margin: 0 auto;
  margin-top: 1em;
  max-width: 400px;
}
.TLDR {
  background: #f0f0f0;
  color: #555;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  width: 70%;
  max-width: 650px;
}

.boxSvg {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.svg {
  height: 70px;
  margin-top: 20px;
}

div > h3 {
  margin-top: 100px;
}
