.aboutMe {
  margin: 0 auto;
  /* max-width: 650px; */
  text-align: center;
  margin-bottom: 100px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}

.imgCropper {
  width: 300px;
  height: 300px;
  /* overflow: hidden; */
  box-shadow: 0 4px 10px 5px rgba(0,0,0,.12);
  border-radius: 2%;
}

.picture {
  margin: 0 auto;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.paragraph {
  text-align: center;
  margin: 0 auto;
  /* margin-top: 1em; */
  max-width: 480px;
  padding: 0  20px;
}
.TLDR {
  background: #f0f0f0;
  color: #555;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  width: 70%;
  max-width: 650px;
}

.boxSvg {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.svg {
  height: 70px;
  margin-top: 20px;
}

.danceSvg {

}

.aboutHeading {
 text-align: center;
 padding: 60px;
}
