

.leftFoot {
    transform-origin: center;
    transform-box: fill-box;
    overflow: visible;   
    animation: none;
  }

/* #leftFoot:hover {
    animation: leftFoot 1s infinite linear alternate;
    cursor: pointer;
  } */

#rightFoot {
    animation: none;
    transform-origin: center;
    transform-box: fill-box;
    overflow: visible;
  }

  @keyframes leftFoot {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(15px)
    }
  }

  @keyframes rightFoot {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(20px)
    }
  }

.svg:hover .leftFoot {
  animation: leftFoot 1s infinite linear alternate;
}

  .svg {
      margin-top: 20px;
  }