.background {
  background: url("./background.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background: linear-gradient(270deg, #a1c4fd, #c2e9fb);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  -o-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite; */
}

.background::after {
  content: "";
  opacity: .7;
  display: block;
  height: 100%;
  width: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper {
  line-height: 1.6;
  padding-top: 50px;
  padding-bottom: 70px;
}
/* 
@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
} */

.paragraph {
  text-align: center;
  color: #dcdbdf
}

.title {
  color: #dcdbdf;
  text-align: center;
}

.emailButton {
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid #000;
  transition: 0.3s ease-in-out;
  margin: 20px;
}
.button {
  display: flex;
  justify-content: center;
}

.emailButton:hover {
  background-color: #00009c;
  transition: 0.3s ease-in-out;
}

.email {
  width: 50px;
  height: 50px;
  margin: 20px;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 700px;
}

.box1 {
  width: 100%;
}

.input {
  margin-bottom: 20px;
  width: 100%;
  padding: 5px;
  border-radius: 2px;
}

.box1 {
}

.formBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 padding: 40px 40px 0 40px;
 color: #dcdbdf;
}

.details {
  list-style: none;
  margin: 0;
}

.details > li {
  padding-top: 20px;
}

@media only screen and (min-width: 630px) {
  .detailsBox {
    margin-left: 100px;
  }
}

.btn {
  border: 0;
  outline: 0;
  display: block;
  font-family: "Space Mono",monospace;
  color: #dcdbdf;
  background: transparent;
  font-weight: 700;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  transition: all .5s ease-in-out;
  font-size: 0.9rem;
  outline: 1px solid #5e70c2;
  transition: 1s;
  width: 100%;
}

.btnPrimary {
  background: #5e70c2;
  color: #fff;
}

.recaptcha {
  margin-bottom: 21px;
}

.btnPrimary:hover {
  color: black;
  background-color: white;
  outline: 1px solid #5e70c2;
  transition: 1s;
}